html {
  font-size: 10px;
  background: url(drumpic.jpg);
  background-size: cover;
}
body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 10vh;
  align-items: center;
  justify-content: center;
}

.key {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

.title h1 {
  display: flex;
  justify-content: flex-end;
  float: right;
  font-size: 75px;
  color: #ffc600;
  margin-right: 50px;
  margin-top: 100px;
  border: .4rem solid black;
  border-radius: .5rem;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black;
  padding-left: 15px;
  padding-right: 15px;
}

.name h4 {
  display: flex;
  justify-content: flex-end;
  float: right;
  font-size: 35px;
  color: #ffc600;
  margin-right: 150px;
  margin-top: 180px;
  margin-left: 400px;
  border: .4rem solid black;
  border-radius: .5rem;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black;
  padding-left: 15px;
  padding-right: 15px;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600;
